[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
   float: right;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#float-login {
    float: right;
    font-size: 130%;
    position: relative;
    height: auto;
    top: 5px;
}

#donate-link {
    float: right;
    margin-right: 2px;
    font-size: 190%;
    color: #D95B1C;
    font-weight: 600;
}

#subscribe-link {
    float: right;
    font-size: 190%;
    font-weight: 600;
    margin-right: 1%;
    color: black;
}

@keyframes spinAround {
    0% {transform: rotateY(0deg);}
  
    100% {transform: rotateY(360deg); }
}
/* the twitter, fb, instagram, and search button are all images */
.header-widgets img {
    float: right;
    width: 3%;
    height: 70px;
    margin-left: 5px;
}
    
.header-widgets img:hover {
        animation: spinAround;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.AF-logo {
   width: 12%;
    height: auto;
}


nav {
    margin-top: 3%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 12px;
}

 nav li:not(:first-child) {
    margin-left: 20px;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style-type: none;
     display: inline-block; 
}



nav ul li a {
    color: white;
    font-size: 130%;
    font-weight: 800;
   
}

nav ul li a:hover {
    color: white;
    border-bottom: 5px ridge white;
}
nav ul li:hover {
    transform: translateY(-3px);
    
}

.rotating-area {
    margin-top: 1%;
}
.rotating-area img {
    width: 50%;
    height: 500px;
    margin-left: 1%;
}

#image2, #image3, #image4 {
    /* remove the images from the flow of the page and retrive them with js */
    display: none;
}

#text2, #text3, #text4 {
    display: none;
}
.image-info {
    display: inline-block;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

#review-label, #team-label {
    color: forestgreen;
    font-size: 120%;
    font-weight: bold;
}

#team-label {
    color: grey;
}

.readmore-button {
    border: 1px solid gray;
    width: 20%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 1px black;
    margin-top: 2%;
}

.readmore-button a {
    color: dimgray;
}

.circle {
    background-color: tan;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 20px;
    cursor: pointer;
}

#circle1 {
    background-color: black;
}

.current-picture {
    display: inline-block;
   position: relative;  
}

.rotating-area-controls {
    text-align: center;
}

span.glyphicon-menu-left {
    float: left;
    font-size: 205%; /*changes font-size of the icons */
    color: rgba(0,0,0, .7);
    cursor: pointer;
}
span.glyphicon-menu-right {
    float: right;
    font-size: 205%; /*changes font-size of the icons */
   /* color: rgba(128,128,128, .7); */
    color: rgba(0,0,0, .7);
    cursor: pointer;
}

.videoArea{
    margin-left: 5%;
    margin-right: 5%;
}

.videoItem{
    display: inline-block;
    vertical-align: text-top;
}

.videoDesc{
    width: 30%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: text-top;
}

.vertical-line{
    width: 1px; 
    background-color: black; 
    height: 100%; 
    float: left;
    vertical-align: text-top;
    display: inline-block;
}
.vertical_line{
    border-left: thick solid #D3D3D3;
    vertical-align: text-top;
    display: inline-block;
}
.vertical_line .announcementArea {
    vertical-align: text-top;
    display: inline-block;
    text-align: center;
    padding-left: 30%;
}
.vertical_line .announcementArea h3{
    color: #ef9c15;
}

iframe {
    width: 40%;
    height: 500px;
    margin-left: 1%;
    display: inline-block;
}

#video-description {
    width: 38%;
    float: left;
    margin-top: 1%;
}

#review-label, #team-label {
    width: 38%;
  
}



.video-info {
   position: absolute;
    display: inline-block;
    margin-left: 2%;
     
}

.announcement-info {
    display: inline-block;
    position:absolute;
    text-align: center;
      margin-right: 5%;

}

#announcement {
    float: right;
   width: 55%;
    margin-top:1%;
    
    
}
#announcement-label, #more-announcements {
    float: right;
   width: 55%; 
    margin-top: 1%;
}

#announcement-label {
    color: goldenrod;
    font-weight: bold;
    font-size: 135%;
}


