body {
/* removes all properties that the browsers sets automatically */  
margin: 0;
padding: 0;
border: 0;
}

* {
box-sizing: border-box;
}


#mission-statement {
    position: absolute;
    color: black;
    font-weight: 600;
    font-size: 200%;
    margin-top: 2%;
    right: 0;
    left: 5%;
    text-shadow: 2px 6px 4px rgba(150, 150, 172, 1);
}

#float-login {
    float: right;
    font-size: 130%;
    position: relative;
    height: auto;
    top: 15px;
}
#donate-link {
    float: right;
    margin-right: 2px;
    font-size: 190%;
    color: #D95B1C;
    font-weight: 600;
}

#subscribe-link {
    float: right;
    font-size: 190%;
    font-weight: 600;
    margin-right: 1%;
    color: black;
}

@keyframes spinAround {
    0% {transform: rotateY(0deg);}
  
    100% {transform: rotateY(360deg); }
}
/* the twitter, fb, instagram, and search button are all images */
.header-widgets img {
    float: right;
    width: 3%;
    max-height: 50px;
    margin-left: 5px;
}


.header-widgets img:hover {
        animation: spinAround;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.AF-logo {
   width: 12%;
    height: auto;
}


nav {
    margin-top: 3%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 12px;
}

 nav li:not(:first-child) {
    margin-left: 20px;
}

nav li {
    display: inline-block;
    z-index: 1000; /* must be 1000 to prevent anything from being over the element */
}

nav ul {
    list-style-type: none;
     display: inline-block; 
}



nav ul li a {
    color: white;
    font-size: 130%;
    font-weight: 800;
   
}

nav ul li a:hover {
    color: white;
    border-bottom: 5px ridge white;
}
nav ul li:hover {
    transform: translateY(-3px);
}

.hover-menu {
    position: absolute;
    display: none;
}

.nav-content ul {
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hover-menu ul li {
    /* gets rid of anything previosuly declared for the nav */
    display: block !important;
    margin-left: 0px !important;
    margin-top: 25px;
    margin-bottom: 25px;
     padding-right: 50px;
   padding-left: 50px;
}

.hover-menu ul li a {
    /* gets rid of anything previosuly declared for the nav */
   color: wheat;

}

.hover-menu ul li a:hover {
    color: black;
    border-bottom: 5px ridge black;
}

.hover-menu ul li a:hover {
    color: wheat;
    border-bottom: 5px ridge black;
}

.hover-menu ul, .hover-menu li {
    /* gets rid of default for ul */
    margin-left: 0;
    padding: 0;
}

nav ul li:hover .hover-menu {
   display: block;
}

.rotating-area {
    margin-top: 1%;
}
.rotating-area img {
    width: 50%;
    height: 500px;
    margin-left: 1%;
    border-radius: 4px;
    position: relative;
}

#image2, #image3, #image4 {
    /* remove the images from the flow of the page and retrive them with js */
    display: none;
    
}

#text1 {
    color: black;
    line-height: 120%;
    font-size: 120%;
}

#text2, #text3, #text4 {
    display: none;
    color: black;
    line-height: 120%;
    font-size: 120%;
}
.image-info {
    display: inline-block;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

#review-label, #team-label {
    color: forestgreen;
    font-size: 170%;
    font-weight: bold;
}

#members-label {
    font-size: 170%;
    font-weight: bold;
}

#team-label {
    color: grey;
}

.readmore-button {
    border: 1px solid gray;
    width: 20%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 1px black;
    margin-top: 2%;
}

.readmore-button a {
    color: dimgray;
}

.circle {
    background-color: tan;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 20px;
    cursor: pointer;
}

#circle1 {
    background-color: black;
}

.current-picture {
    display: inline-block;
   position: relative;  
}

.rotating-area-controls {
    text-align: center;
}

.hover-height-left {
    /* background:rgba(169,169,169, .5); */
    background-color: white;
    height: 500px;
    float: left;
    cursor: pointer;
}

.hover-height-right {
  /* background:rgba(169,169,169, .5); */
    background-color: white;
    height: 500px;
    float: right;
    cursor: pointer;
}

.hover-height-left:hover, .hover-height-right:hover {
   /* background-color: #808080; */
    background-color: white;
}

div.hover-height-left span.glyphicon-menu-left {
    float: left;
    font-size: 205%; /*changes font-size of the icons */
    color: black;
    cursor: pointer;
   top: 250px; /* height of the image divided by two for it to be centered */
}
div.hover-height-right span.glyphicon-menu-right {
    float: right;
    font-size: 205%; /*changes font-size of the icons */
   /* color: rgba(128,128,128, .7); */
    color: black;
    cursor: pointer;
    top: 250px;
}



iframe {
    width: 50%;
    height: 500px;
    margin-left: 1%;
    display: inline-block;
    border-radius: 4px;
}

.video-info {
    float: right;
     position: absolute;
    height: 500px;
    margin-left: 5%;
}

.video-info {
    display: inline-block;
    float: right;
}

#video-description {
    font-size: 150%;
    color: black;
}

.align-video-controls div.glyphicon-menu-left, div.glyphicon-menu-right {
  font-size: 150%;
}




.aside-information {
    float:left;
    width: 100%;
    background-color: #2A212B;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
}

.template-info {
    color: white;
    text-align: center;
}

.announcement-ad-row {
 margin-top: 1%;
}

.announcement {
    width: 50%;
    display: inline-block;
    background-color: white;
    float: left;
    height: 100%;
    text-align: center;
    font-size: 170%;
    overflow: auto;
}

.ad {
    width: 50%;
    display: inline-block;
    background-color: #CCCC99;
    float: left;
}

.ad img {
    height: 100%;
    width: 100%;
}

.announcement-title {
    color: orangered;
    text-align: center;
    font-size: 150%;
}

.announcement-1, .announcement-2, .announcement-3 {
    border-bottom: 3px solid white;
  float: left;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
    margin-top: 1%;
}

.flex-center {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.separation {
    border-top: 1.5px solid black;
    /* the top and the bottom are half and inch since 1inch = 96px */
    margin-top: 48px;
    margin-bottom: 48px;
    color: blue;
}



